<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Layui 表格示例</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>

<div class="layui-container" style="margin-top: 30px;">
    <table class="layui-hide" id="userTable" lay-filter="userTableFilter"></table>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script th:inline="none">
    console.log("JS 加载中");
    layui.use(['table'], function () {
        const table = layui.table;
        console.log("Layui 表格模块已加载");
        table.render({
            elem: '#userTable',
            url: '/version/list',
            page: true,
            cols: [[
                {field: 'version_no', title: '版本号' , minWidth: 30},
                {field: 'component_number', title: '零件号', minWidth: 30},
                {field: 'supplier', title: '供应商', minWidth: 30},
                {field: 'manager', title: '管理员' , minWidth: 30},
                {field: 'all_component_quantity' , minWidth: 30, title: '零件数量'},
                {field: 'start_time', title: '起始日期' , minWidth: 30}
            ]]
        });
    });
</script>

</body>
</html>
