<style>
    #febs-company-result xm-select {
        min-height: 30px;
        line-height: 30px;
    }

    #febs-company-result xm-select > .xm-label {
        display: flex;
        padding: 0 30px 0 10px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-versiondata-result" lay-title="版本数据列表">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="versiondata-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">平台名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="loginName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain  table-action"
                                     id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain  table-action"
                                     id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form class="layui-form layui-table-form" lay-filter="versiondata-table-form"></form>
                    <form>
                        <table lay-filter="versiondataTable" lay-data="{id:'versiondataTable'}"></table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    // layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs', 'xmSelect', 'gamedata'], function () {
    //     let $ = layui.jquery,
    //         febs = layui.febs,
    //         form = layui.form,
    //         $view = $('#febs-versiondata-result'),
    //         $query = $view.find('#query'),
    //         $reset = $view.find('#reset'),
    //         $searchForm = $view.find('form'),
    //         sortObject = {field: 'createTime', type: null},
    //         tableIns;
    //     form.render();
    //
    //     initTable();
    //
    //     function initTable() {
    //         tableIns = febs.table.init({
    //             elem: $view.find('table'),
    //             id: 'versiondataTable',
    //             loading: true,
    //             url: '/version/list',
    //             cols: [[
    //                 {type: 'numbers', title: '' , minWidth: 30}
    //                 // {field: 'version_no', title: '版本号' , minWidth: 30},
    //                 // {field: 'component_number', title: '零件号', minWidth: 30},
    //                 // {field: 'supplier', title: '供应商', minWidth: 30},
    //                 // {field: 'manager', title: '管理员' , minWidth: 30},
    //                 // {field: 'all_component_quantity' , minWidth: 30, title: '零件数量'},
    //                 // {field: 'start_time', title: '起始日期' , minWidth: 30}
    //             ]]
    //         });
    //     }
    //
    //
    //     $query.on('click', function () {
    //         let params = $.extend(getQueryParams(), {
    //             field: sortObject.field,
    //             order: sortObject.type
    //         });
    //         tableIns.reload({where: params, page: {curr: 1}});
    //     });
    //
    //     $reset.on('click', function () {
    //         $searchForm[0].reset();
    //         tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
    //
    //     });
    //
    //     function getQueryParams() {
    //         let params = $searchForm.serializeJson();
    //         params.invalidate_ie_cache = new Date();
    //         return params;
    //     }
    // })

    layui.use(['table'], function () {
        const table = layui.table;
        // 初始化表格
        const tableIns = table.render({
            elem: '#febs-versiondata-result table',          // 表格容器
            url: '/version/list',           // 数据接口
            page: true,                  // 开启分页
            cols: [[
                // {field: 'version_no', title: '版本号' , minWidth: 30},
                // {field: 'component_number', title: '零件号', minWidth: 30},
                // {field: 'supplier', title: '供应商', minWidth: 30},
                // {field: 'manager', title: '管理员' , minWidth: 30},
                // {field: 'all_component_quantity' , minWidth: 30, title: '零件数量'},
                // {field: 'start_time', title: '起始日期' , minWidth: 30}
            ]],
            done: function (res, curr, count) {
                console.log('表格加载完成', res);
            }
        });
    });
</script>